<template>
    <div>
        <h2>使用者登入</h2>

        <app-error-messages></app-error-messages>

        <form action="#" method="post" @submit.prevent="login">
            <div class="form-group">
                <label>
                    帳號：
                    <input required type="text" class="form-control" v-model="username">
                </label>
            </div>
            <div class="form-group">
                <label>
                    密碼：
                    <input required type="password" class="form-control" v-model="password">
                </label>
            </div>
            <button class="btn btn-success w-100" type="submit">登入</button>
        </form>
    </div>
</template>